{% extends 'base.html' %}
{% block title %}The Pet Palace | Create an Account{% endblock %}

{% block content %}

<section class="signup-container">
    <h4 class="signup-header">Sign Up</h4>
    <form action="" method="post">
        {% csrf_token %}
        <label class="signup-label" for="{{form.username.id_for_label}}">Username</label>
        <div class="ms-4 me-4">
            {{form.username}}
        </div>

        <label class="signup-label" for="{{form.password1.id_for_label}}">Password</label>
        <div class="ms-4 me-4">
            {{form.password1}}
        </div>
        <span class="help-text">{{form.password1.help_text}}</span>

        <label class="signup-label" for="{{form.password2.id_for_label}}">Confirm Password</label>
        <div class="ms-4 me-4">
            {{form.password2}}
        </div>
        <span class="help-text">{{form.password2.help_text}}</span>
        <button class="signup-button" type="submit">Sign Up</button>
    </form>
    <p class="signup-text">Already registered? <a href="{% url 'login' %}">Sign in</a></p>
</section>


{% endblock %}